<ion-app>
    <ion-header>
        <ion-row>
        <ion-col>
                <app-search-bar></app-search-bar>
        </ion-col>
        <ion-col></ion-col>
        <ion-col>
        <app-filters></app-filters>
        </ion-col>
    </ion-row>

    </ion-header>
    <ion-content>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col" *ngFor="let data of products">
                <app-mycard [product]="data"></app-mycard>
            </div>
        </div>
    </ion-content>
</ion-app>