<ion-app>
    <ion-header>
        <ion-toolbar class="new-background-color">
            <ion-title style="text-align: center">
                My Demo App
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <!-- <ion-content [fullscreen]="true" class="ion-padding"> -->
        <app-card></app-card>      
    <!-- </ion-content> -->
    <ion-footer>
        <ion-toolbar>
          <ion-title>
            <app-pagination></app-pagination>
          </ion-title>
        </ion-toolbar>
      </ion-footer>
</ion-app>